{% for item_page in content_data.women.page_name %}
<p>{{ item_page.name }}</p>
<div class="browse-list-men">
    {% for item in content_data.women.category_name %}
    <a href="{{domain}}{{ item_page.url }}/{{ item.url }}/">{{ item.name }}</a>
    {% endfor %}
</div>
{% endfor %}

{% for item_page in content_data.men.page_name %}
<p>{{ item_page.name }}</p>
<div class="browse-list-men">
    {% for item in content_data.men.category_name %}
    <a href="{{domain}}{{ item_page.url }}/{{ item.url }}/">{{ item.name }}</a>
    {% endfor %}
</div>
{% endfor %}

