<script>
    $(document).ready(function () {
        if($('#item_number').text()>0){
            $('.items_number').css('display', 'block');
        }

        $('.details_in').css("display", "none");
        $('.details_in').filter(':first').css("display", "flex");
        $('.checkout-item h2').click(function () {

            var box = $(this).parent();
            var contentOne = $('.details_in', box);
            var contents = $('.details_in');

            if (!contentOne.is(':visible')) {
                contents.slideUp('slow');
            }
            contentOne.slideToggle('slow');
        });

        // checkout forms

/*        var regExpMail = /^\w+\.?-?\w+@\w+\.\w+$/g;
        $('.sa-login').on('click', function () {
            var emailLogin = $('#email');
            var passwordLogin = $('#password');

            if (!regExpMail.test(emailLogin.val())) {
                $('.sa-email').children().addClass('sa_attention');
                passwordLogin.next().text('* Required Fileds');
                return false;
            } else if (!passwordLogin.val()) {
                $('.sa-email').children().addClass('sa_attention');
                passwordLogin.next().text('* Required Fileds');
                return false;
            } else {
                $('.sa-email').children().removeClass('sa_attention');
                passwordLogin.next().text('');
                console.log(regExpMail.test(emailLogin.val()));
                return false;
            }
        });*/

        // basket
        var basket = new Basket();

        $(document).on('click', '.cart', function () {
            $('.cart-hide').slideToggle('slow');
        });
        $(document).mouseup(function (e) {
            if (!$(e.target).closest("#basket").length) {
                $('.cart-hide').slideUp('slow');
            }
            e.stopPropagation();
        });


        $(document).on('click', '.header_browse', function () {
            $('.browse_menu').slideToggle('slow');
        });

        $(document).mouseup(function (e) {
            if (!$(e.target).closest(".browse_menu_hidden").length) {
                $('.browse_menu').slideUp('slow');
            }
            e.stopPropagation();
        });

        $('.load').on('click', '.fa', function () {
            var eventId = $(this).parents('.cart-hide_item')[0].id;
            basket.delete(eventId);
        });


        $('#featured_parent').on('click', '.fetured_item', function (e) {
            this.idProduct = $(this).attr('id').split('_')[1];
            this.src = $(this).find('.item_img').attr('src');
            this.alt = $(this).find('.item_img').attr('alt');
            this.quantity = $(this).attr('value');
            this.price = $(this).find('.fetured_price').text().replace('$', '');
            this.name = $(this).find('.fetured_text').text();
            this.rating = $(this).find('.stars_fetured').html();
            basket.add(this.idProduct, this.src, this.alt, this.quantity, this.price, this.name, this.rating);
        });


        // forms

        $('.email-subscribe-submit').on('click', function () {
            var emailInput = $('#email_subscribe');
            checkForm(emailInput, regExpMail);
            return false;
        });

        // citaty
        $('.click_bar').on('click', '.click', function () {
            $(this).siblings().removeClass('act');
            $(this).addClass('act');
            });


        // authorization
        $(document).on('click', '.my-Account', function () {
            $('.authorization').slideToggle('slow').css("display", "flex");
            $(this).find('.fa').toggleClass('rotate180deg');
        });
        $(document).mouseup(function (e) {
            if (!$(e.target).closest("#autentification").length) {
                $('.authorization').slideUp('slow');
                $('.my-Account').find('.fa').removeClass('rotate180deg');
            }
            e.stopPropagation();
        });
    });
</script>