<footer class="footer">
    <div class="container footer-flex">
        <div class="copyrights">&copy; {{date}} Brand All Rights Reserved.</div>
        <ul class="footer_icons">
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
            <li><i class="fa fa-pinterest-square" aria-hidden="true"></i></li>
            <li><i class="fa fa-google-plus-square" aria-hidden="true"></i></li>
        </ul>
    </div>
</footer>