<div class="container">
    <div class="company_information">
        <article class="left_menu">
            <a href="{{domain}}" class="logo">
                <h3 class="brand"> bran<span class="brand-d">d</span></h3>
            </a>
            <p class="left_menu_text"> Objectively transition extensive data rather than cross functional
                solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits.
                Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
                <br>
                <br> Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize
                superior initiatives for wireless technologies. Dynamically optimize.
            </p>
        </article>
        <nav class="right_menu">
            <ul>
                <li>company</li>
                <li><a href="{{domain}}">home</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">how it works</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <ul>
                <li>information</li>
                <li><a href="#">tearms &amp; condition</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">how to buy</a></li>
                <li><a href="#">how to sell</a></li>
                <li><a href="#">promotion</a></li>
            </ul>
            <ul>
                <li>shop category</li>
                <li><a href="{{domain}}men">men</a></li>
                <li><a href="{{domain}}women">women</a></li>
                <li><a href="{{domain}}kids">child</a></li>
                <li><a href="#">apparel</a></li>
                <li><a href="{{domain}}featured">browse all</a></li>
            </ul>
        </nav>
    </div>
</div>