<nav class="container top_menu" id="top_menu">
    <ul class="menu">
        <li><a class="active-link-menu" href="{{domain}}">home</a></li>
        <li>
            <a href="{{ domain }}men">man</a>
        </li>
        <li>
            <a href="{{ domain }}women">women</a>
        </li>
        <li><a href="{{ domain }}kids">kids</a></li>
        <li><a href="{{ domain }}women/accessories">accessories</a></li>
        <li><a href="{{ domain }}featured">featured</a></li>
        <li><a href="{{ domain }}hotdeals">hot deals</a></li>
    </ul>
</nav>