<div class="subscribe">
    <div class="back_opacity">
        <div class="sub container">
            <article class="sub_left">
                <div class="sub_left_ava"></div>
                <p class="sub_left_text">"Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar
                    purus condimentum a. Aliquam condimentum mattis neque sed pretium"</p>
                <h4 class="sub_left_pod">Bin Burhan</h4>
                <p class="sub_span">Dhaka, Bd</p>
                <div class="click_bar">
                    <div class="click"></div>
                    <div class="click act"></div>
                    <div class="click"></div>
                </div>
            </article>
            <div class="sub_right">
                <div class="sub_right_h">Subscribe</div>
                <div class="sub_right_p"> FOR OUR NEWLETTER AND PROMOTION</div>
                <form class="sub_right_form" method="post" action="/">
                    <input class="email-subscribe" id="email_subscribe" placeholder="Enter Your Email">
                    <button class="email-subscribe-submit" type="submit" onclick="subscribe()">Subscribe</button>
                </form>
                <p id="dispatch">Спасибо. Вы подписались на обновления</p>
            </div>
        </div>
    </div>
</div>